@charset "utf-8";


@media (max-width:1800px) {
    /**********************************************************************************************************************/
    /* COMMON */
    /**********************************************************************************************************************/
    /*--------------------------------------------------------------------------------------------------------------------*/
    /* FONT */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 전체 */

    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 이너사이즈 */
    .wrap .cm_inner01 {
        width: 100%;
        padding: 0 10px;
    }

    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 폼 */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 버튼 */

    /**********************************************************************************************************************/

}

@media (max-width:1600px) {
    /**********************************************************************************************************************/
    /* COMMON */
    /**********************************************************************************************************************/
    /*--------------------------------------------------------------------------------------------------------------------*/
    /* FONT */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 전체 */

    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 이너사이즈 */
    .wrap .cm_inner02 {
        width: 100%;
        padding: 0 10px;
    }

    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 폼 */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 버튼 */

    /**********************************************************************************************************************/

}


@media (max-width:1400px) {
    /**********************************************************************************************************************/
    /* COMMON */
    /**********************************************************************************************************************/
    /*--------------------------------------------------------------------------------------------------------------------*/
    /* FONT */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 전체 */

    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 이너사이즈 */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 폼 */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 버튼 */

    /**********************************************************************************************************************/


    /**********************************************************************************************************************/
    /* HEADER */
    /**********************************************************************************************************************/
    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 헤더 공통 */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 헤더 로고 */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 헤더 메뉴 버튼 */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 헤더 메뉴 */


    /**********************************************************************************************************************/


    /**********************************************************************************************************************/
    /* FOOTER */
    /**********************************************************************************************************************/
    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 푸터 공통 */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 푸터 유틸메뉴 */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 푸터 정보 */


    /**********************************************************************************************************************/


    /**********************************************************************************************************************/
    /* INTRO */
    /**********************************************************************************************************************/
    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 인트로 컨텐츠 */

    /*--------------------------------------------------------------------------------------------------------------------*/
    /* JOIN */

    /**********************************************************************************************************************/


    /**********************************************************************************************************************/
    /* MAIN */
    /**********************************************************************************************************************/
    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 메인 공통 */

    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 메인 - cont01 */

    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 메인 - cont02 */

    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 메인 - cont03 */

    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 메인 - cont04 */

    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 메인 - cont05 */

    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 메인 - cont06 */


    /**********************************************************************************************************************/


    /**********************************************************************************************************************/
    /* SUB */
    /**********************************************************************************************************************/
    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 서브 컨테이너 */

    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 서브 상품 리스트 */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 서브 상품 뷰 */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 서브 상품 인풋 */
    .wrap #shp_shop_list .mid .prd_inp .inp_ir .inp_row .inp_col>dd .img_list,
    .wrap #shp_shop_list .mid .prd_inp .inp_ir .inp_row .inp_col>dd .img_list {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 10px;
    }

    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 서브 게시판 리스트 */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 서브 게시판 뷰 */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 서브 게시판 인풋 */


    /**********************************************************************************************************************/
}

@media (max-width:1200px) {
    /**********************************************************************************************************************/
    /* COMMON */
    /**********************************************************************************************************************/
    /*--------------------------------------------------------------------------------------------------------------------*/
    /* FONT */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 전체 */

    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 이너사이즈 */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 폼 */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 버튼 */

    /**********************************************************************************************************************/


    /**********************************************************************************************************************/
    /* HEADER */
    /**********************************************************************************************************************/
    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 헤더 공통 */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 헤더 로고 */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 헤더 메뉴 버튼 */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 헤더 메뉴 */


    /**********************************************************************************************************************/


    /**********************************************************************************************************************/
    /* FOOTER */
    /**********************************************************************************************************************/
    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 푸터 공통 */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 푸터 유틸메뉴 */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 푸터 정보 */


    /**********************************************************************************************************************/


    /**********************************************************************************************************************/
    /* INTRO */
    /**********************************************************************************************************************/
    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 인트로 컨텐츠 */

    /*--------------------------------------------------------------------------------------------------------------------*/
    /* JOIN */

    /**********************************************************************************************************************/


    /**********************************************************************************************************************/
    /* MAIN */
    /**********************************************************************************************************************/
    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 메인 공통 */

    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 메인 - cont01 */

    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 메인 - cont02 */

    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 메인 - cont03 */

    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 메인 - cont04 */

    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 메인 - cont05 */

    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 메인 - cont06 */


    /**********************************************************************************************************************/


    /**********************************************************************************************************************/
    /* SUB */
    /**********************************************************************************************************************/
    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 서브 컨테이너 */

    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 서브 상품 리스트 */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 서브 상품 뷰 */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 서브 상품 인풋 */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 서브 게시판 리스트 */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 서브 게시판 뷰 */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 서브 게시판 인풋 */


    /**********************************************************************************************************************/
}

@media (max-width:992px) {
    /**********************************************************************************************************************/
    /* COMMON */
    /**********************************************************************************************************************/
    /*--------------------------------------------------------------------------------------------------------------------*/
    /* FONT */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 전체 */

    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 이너사이즈 */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 폼 */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 버튼 */

    /**********************************************************************************************************************/


    /**********************************************************************************************************************/
    /* HEADER */
    /**********************************************************************************************************************/
    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 헤더 공통 */
    .wrap header .hd_ir {
        padding: 10px 0;
    }

    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 헤더 로고 */
    .wrap header .hd_ir .logo>a {
        font-size: 42px;
    }

    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 헤더 메뉴 */
    .wrap header .hd_ir .main_mnu {
        display: none;
    }

    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 헤더 정보 리스트 */
    .wrap header .hd_ir .log_items {
        display: none;
    }

    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 헤더 메뉴 버튼 */
    .wrap header .hd_ir .btn_mnu_opn {
        display: block;
    }

    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 헤더 메뉴 */


    /**********************************************************************************************************************/


    /**********************************************************************************************************************/
    /* FOOTER */
    /**********************************************************************************************************************/
    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 푸터 공통 */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 푸터 유틸메뉴 */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 푸터 정보 */


    /**********************************************************************************************************************/


    /**********************************************************************************************************************/
    /* MAIN */
    /**********************************************************************************************************************/
    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 메인 공통 */


    /**********************************************************************************************************************/


    /**********************************************************************************************************************/
    /* SUB */
    /**********************************************************************************************************************/
    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 서브 컨테이너 */

    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 서브 - 쇼핑(상품) 리스트 */


    /* 중간 */
    .wrap #shp_shop_list .mid .prd_list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 서브 - 쇼핑(상품) 뷰 */

    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 서브 - 쇼핑(상품) 인풋 */
    .wrap #shp_shop_list .mid .prd_inp .inp_ir .inp_row .inp_col>dd .img_list,
    .wrap #shp_shop_list .mid .prd_inp .inp_ir .inp_row .inp_col>dd .img_list {
        grid-template-columns: repeat(4, 1fr);
    }

    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 서브 - 이벤트/공지사항 리스트 */

    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 서브 - 이벤트/공지사항 뷰 */

    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 서브 - 이벤트/공지사항 인풋 */


    /**********************************************************************************************************************/


    /**********************************************************************************************************************/
    /* 주문 */
    /**********************************************************************************************************************/
    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 주문- 장바구니 */
    .wrap #pt_cart {
        grid-template-columns: repeat(1, 1fr);
    }

    .wrap #pt_cart .left {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .wrap #pt_cart .right {
        min-width: unset;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    /**********************************************************************************************************************/
}

@media (max-width:768px) {
    /**********************************************************************************************************************/
    /* COMMON */
    /**********************************************************************************************************************/
    /*--------------------------------------------------------------------------------------------------------------------*/
    /* FONT */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 전체 */

    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 이너사이즈 */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 폼 */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 버튼 */
    .wrap .wrt_btn_list {
        gap: 5px;
    }

    .wrap .wrt_btn_list .wrt_btn {
        max-width: 50px;
        height: 30px;
        font-size: 12px;
    }


    /**********************************************************************************************************************/


    /**********************************************************************************************************************/
    /* HEADER */
    /**********************************************************************************************************************/
    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 헤더 공통 */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 헤더 로고 */
    .wrap header .hd_ir .logo>a {
        font-size: 38px;
    }

    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 헤더 메뉴 버튼 */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 헤더 메뉴 */


    /**********************************************************************************************************************/


    /**********************************************************************************************************************/
    /* FOOTER */
    /**********************************************************************************************************************/
    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 푸터 공통 */
    .wrap footer .ft_ir {
        flex-direction: column;
        align-items: center;
        padding: 20px 10px;
        gap: 10px;
    }

    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 푸터 로고 */
    .wrap footer .ft_ir .ft_logo {
        font-size: 38px;
    }

    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 푸터 유틸메뉴 */
    .wrap footer .ft_ir .ft_util>li>a {
        font-size: 11px;
    }


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 푸터 정보 */
    .wrap footer .ft_ir .ft_info {
        align-items: center;
    }

    .wrap footer .ft_ir .ft_info>li>.txt {
        font-size: 11px;
    }

    /**********************************************************************************************************************/

    /**********************************************************************************************************************/
    /* MAIN */
    /**********************************************************************************************************************/
    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 메인 공통 */

    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 메인 - 비주얼 */
    .wrap #shp_visual>.col:nth-child(1) {
        padding: 0 10px 30px 0;
        transition: 0.4s;
    }

    .wrap #shp_visual>.col:nth-child(2) {
        padding: 30px 0 0 10px;
        transition: 0.4s;
    }

    /**********************************************************************************************************************/


    /**********************************************************************************************************************/
    /* SUB */
    /**********************************************************************************************************************/
    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 서브 컨테이너 */



    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 서브 - 쇼핑(상품) 리스트 */


    /* 중간 */
    .wrap #shp_shop_list .mid .prd_list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .wrap #shp_shop_list .mid .prd_list>li>a {
        gap: 10px
    }

    .wrap #shp_shop_list .mid .prd_list>li>a>.txt_bx>.tit {
        font-size: 12px;
    }

    .wrap #shp_shop_list .mid .prd_list>li>a>.txt_bx>.prc_bx>.discount,
    .wrap #shp_shop_list .mid .prd_list>li>a>.txt_bx>.prc_bx>.price {
        font-size: 10px;
    }

    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 서브 - 쇼핑(상품) 뷰 */
    .wrap #shp_shop_list .mid .prd_view {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .wrap #shp_shop_list .mid .prd_view .img_bx {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .wrap #shp_shop_list .mid .prd_view .txt_bx {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .wrap #shp_shop_list .mid .prd_view .img_bx .prd_main_sd {
        width: 100%;
    }

    .wrap #shp_shop_list .mid .prd_view .img_bx .prd_sub_sd {
        display: none;
    }


    /* 리뷰 */
    .wrap #rvw_tab .tab_bd>li .rvw_bx .rvw_rows {
        grid-template-columns: repeat(3, 1fr);
    }

    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 서브 - 쇼핑(상품) 인풋 */
    .wrap #shp_shop_list .mid .prd_inp .inp_ir .inp_row02 {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    .wrap #shp_shop_list .mid .prd_inp .inp_ir .inp_row .inp_col>dd .img_list,
    .wrap #shp_shop_list .mid .prd_inp .inp_ir .inp_row .inp_col>dd .img_list {
        grid-template-columns: repeat(3, 1fr);
    }

    .wrap #shp_shop_list .mid .prd_inp .inp_ir .inp_row .inp_col>dt {
        min-width: 90px;
    }

    .wrap #shp_shop_list .mid .prd_inp .inp_ir .inp_row .inp_col>dt>.tit {
        font-size: 16px;
    }

    .wrap #shp_shop_list .mid .prd_inp .inp_ir .inp_row .inp_col>dd .rd_frm .rd_bx>label {
        width: 60px;
        height: 35px;
        font-size: 13px;
    }

    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 서브 - 이벤트/공지사항 리스트 */
    .wrap #shp_notice_list{
        padding:0;
        gap:30px;
    }
    .wrap #shp_notice_list .mid>.noti_list>li {
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 5px;
    }

    .wrap #shp_notice_list .mid>.noti_list>li>.line_col:nth-child(1) {
        display: none;
        min-width: 30px;
    }

    .wrap #shp_notice_list .mid>.noti_list>li>.line_col:nth-child(2) {
        width: calc(100% - 50px);
        min-width: 50px;
    }

    .wrap #shp_notice_list .mid>.noti_list>li>.line_col:nth-child(3) {
        width: 100%;
        flex-grow: 1;
    }

    .wrap #shp_notice_list .mid>.noti_list>li>.line_col:nth-child(4) {
        min-width: 50px;
    }

    .wrap #shp_notice_list .mid>.noti_list>li>.line_col:nth-child(5) {
        min-width: 60px;
    }

    .wrap #shp_notice_list .mid>.noti_list>li>.line_col:nth-child(6) {
        min-width: 80px;
    }

    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 서브 - 이벤트/공지사항 뷰 */
    .wrap #shp_notice_list .mid .noti_view .view_line02 {
        grid-template-columns: repeat(1, 1fr);
    }

    .wrap #shp_notice_list .mid .noti_view .view_line>.col>dt {
        min-width: 100px;
    }

    .wrap #shp_shop_list .mid .prd_view .txt_bx {
        gap: 20px;
    }

    .wrap #shp_shop_list .mid .prd_view .txt_bx .top>.tit {
        font-size: 26px;
    }

    .wrap #shp_shop_list .mid .prd_view .txt_bx .top>.des {
        font-size: 13px;
        line-height: 18px;
    }

    .wrap #shp_shop_list .mid .prd_view .txt_bx .cent {
        line-height: 16px;
    }

    .wrap #shp_shop_list .mid .prd_view .txt_bx .cent>li {
        font-size: 11px;
    }

    .wrap #shp_shop_list .mid .prd_view .txt_bx .od_ir .od_row>.rd_list>li {
        min-width: 65px;
    }

    .wrap #shp_shop_list .mid .prd_view .txt_bx .od_ir .od_row>.rd_list>li>label {
        height: 35px;
    }

    .wrap #shp_shop_list .mid .prd_view .txt_bx .od_ir .od_row>.od_num {
        width: 65px;
        height: 35px;
        border: 1px solid #ddd;
        outline: none;
        font-size: 13px;
        text-align: center;
    }

    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 서브 - 이벤트/공지사항 인풋 */

    /**********************************************************************************************************************/
}

@media (max-width:576px) {
    /**********************************************************************************************************************/
    /* COMMON */
    /**********************************************************************************************************************/
    /*--------------------------------------------------------------------------------------------------------------------*/
    /* FONT */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 전체 */

    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 이너사이즈 */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 폼 */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 버튼 */

    /**********************************************************************************************************************/


    /**********************************************************************************************************************/
    /* HEADER */
    /**********************************************************************************************************************/
    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 헤더 공통 */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 헤더 로고 */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 헤더 메뉴 버튼 */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 헤더 메뉴 */


    /**********************************************************************************************************************/


    /**********************************************************************************************************************/
    /* FOOTER */
    /**********************************************************************************************************************/
    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 푸터 공통 */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 푸터 유틸메뉴 */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 푸터 정보 */


    /**********************************************************************************************************************/

    /**********************************************************************************************************************/
    /* MAIN */
    /**********************************************************************************************************************/
    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 메인 공통 */

    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 메인 - 비주얼 */
    .wrap #shp_visual {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .wrap #shp_visual>.col:nth-child(1) {
        padding: 0;
    }

    .wrap #shp_visual>.col:nth-child(2) {
        padding: 0;
    }


    /**********************************************************************************************************************/


    /**********************************************************************************************************************/
    /* SUB */
    /**********************************************************************************************************************/
    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 서브 컨테이너 */

    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 서브 상품 리스트 */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 서브 상품 뷰 */
    .wrap #shp_shop_list .mid .prd_view .txt_bx .od_ir .od_row>.tit {
        height: unset;
    }

    .wrap #shp_shop_list .mid .prd_view .txt_bx .od_ir .od_row {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
    }

    .wrap #shp_shop_list .mid .prd_view .txt_bx .od_ir .od_row>.rd_list {
        width: 100%;
    }

    /* 리뷰 */
    .wrap #rvw_tab .tab_hd>li {
        height: 40px;
        font-size: 13px;
    }

    .wrap #rvw_tab .tab_bd>li .rvw_bx .rvw_rows {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .wrap #rvw_tab .tab_bd>li .rvw_bx .rvw_rows .rvw_row .img_bx {
        height: 140px;
    }


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 서브 상품 인풋 */
    .wrap #shp_shop_list .mid .prd_inp .inp_ir .inp_row .inp_col>dt {
        min-width: 65px;
    }

    .wrap #shp_shop_list .mid .prd_inp .inp_ir .inp_row .inp_col>dt>.tit {
        font-size: 14px;
    }

    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 서브 게시판 리스트 */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 서브 게시판 뷰 */
    .wrap #shp_notice_list .mid .noti_view .view_line>.col {
        flex-direction: column;
        align-items: flex-start;
    }

    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 서브 게시판 인풋 */


    /**********************************************************************************************************************/
}

@media (max-width:420px) {
    /**********************************************************************************************************************/
    /* COMMON */
    /**********************************************************************************************************************/
    /*--------------------------------------------------------------------------------------------------------------------*/
    /* FONT */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 전체 */

    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 이너사이즈 */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 폼 */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 버튼 */

    /**********************************************************************************************************************/


    /**********************************************************************************************************************/
    /* HEADER */
    /**********************************************************************************************************************/
    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 헤더 공통 */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 헤더 로고 */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 헤더 메뉴 버튼 */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 헤더 메뉴 */


    /**********************************************************************************************************************/


    /**********************************************************************************************************************/
    /* FOOTER */
    /**********************************************************************************************************************/
    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 푸터 공통 */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 푸터 유틸메뉴 */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 푸터 정보 */


    /**********************************************************************************************************************/


    /**********************************************************************************************************************/
    /* INTRO */
    /**********************************************************************************************************************/
    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 인트로 컨텐츠 */

    /*--------------------------------------------------------------------------------------------------------------------*/
    /* JOIN */

    /**********************************************************************************************************************/


    /**********************************************************************************************************************/
    /* MAIN */
    /**********************************************************************************************************************/
    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 메인 공통 */



    /**********************************************************************************************************************/


    /**********************************************************************************************************************/
    /* SUB */
    /**********************************************************************************************************************/
    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 서브 컨테이너 */

    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 서브 상품 리스트 */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 서브 상품 뷰 */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 서브 상품 인풋 */
    .wrap #shp_shop_list .mid .prd_inp .inp_ir .inp_row .inp_col>dd .img_list,
    .wrap #shp_shop_list .mid .prd_inp .inp_ir .inp_row .inp_col>dd .img_list {
        grid-template-columns: repeat(2, 1fr);
    }

    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 서브 게시판 리스트 */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 서브 게시판 뷰 */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 서브 게시판 인풋 */


    /**********************************************************************************************************************/
}

@media (max-width:320px) {
    /**********************************************************************************************************************/
    /* COMMON */
    /**********************************************************************************************************************/
    /*--------------------------------------------------------------------------------------------------------------------*/
    /* FONT */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 전체 */

    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 이너사이즈 */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 폼 */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 버튼 */

    /**********************************************************************************************************************/


    /**********************************************************************************************************************/
    /* HEADER */
    /**********************************************************************************************************************/
    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 헤더 공통 */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 헤더 로고 */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 헤더 메뉴 버튼 */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 헤더 메뉴 */


    /**********************************************************************************************************************/


    /**********************************************************************************************************************/
    /* FOOTER */
    /**********************************************************************************************************************/
    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 푸터 공통 */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 푸터 유틸메뉴 */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 푸터 정보 */


    /**********************************************************************************************************************/


    /**********************************************************************************************************************/
    /* INTRO */
    /**********************************************************************************************************************/
    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 인트로 컨텐츠 */

    /*--------------------------------------------------------------------------------------------------------------------*/
    /* JOIN */

    /**********************************************************************************************************************/


    /**********************************************************************************************************************/
    /* MAIN */
    /**********************************************************************************************************************/
    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 메인 공통 */

    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 메인 - cont01 */

    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 메인 - cont02 */

    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 메인 - cont03 */

    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 메인 - cont04 */

    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 메인 - cont05 */

    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 메인 - cont06 */


    /**********************************************************************************************************************/


    /**********************************************************************************************************************/
    /* SUB */
    /**********************************************************************************************************************/
    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 서브 컨테이너 */

    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 서브 상품 리스트 */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 서브 상품 뷰 */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 서브 상품 인풋 */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 서브 게시판 리스트 */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 서브 게시판 뷰 */


    /*--------------------------------------------------------------------------------------------------------------------*/
    /* 서브 게시판 인풋 */


    /**********************************************************************************************************************/
}